subscription_id = "YOUR-SUBSCRIPTION-ID"
location        = "francecentral"
project_name    = "alz"
environment     = "dev"

resource_group_name = "rg-foundation-alz-dev"

common_tags = {
  project     = "azure-landing-zone"
  environment = "dev"
  owner       = "cyrine"
  cost_center = "student-credit"
  managed_by  = "terraform"
  criticality = "low"
  workload    = "landing-zone"
}

enable_aks_demo       = false
enable_jelastic_demo  = false
application_name      = "landing-zone-demo-app"
container_image_name  = "landing-zone-demo-app:latest"
container_port        = 8080
kubernetes_namespace  = "demo"
