resource_group_name  = "rg-tfstate-alz-dev"
storage_account_name = "stalzdevcyrinetfstate"
container_name       = "tfstate"
key                  = "development/azure-landing-zone.tfstate"
use_azuread_auth     = true
