subscription_id = "YOUR-SUBSCRIPTION-ID"

location     = "francecentral"
project_name = "alz"
environment  = "dev"
owner        = "cyrine"
cost_center  = "student-credit"

workload_name = "landing-zone"
criticality   = "low"

additional_tags = {
  project_stage = "root-orchestration"
}

vnet_address_space = ["10.10.0.0/16"]

subnets = {
  management = {
    address_prefixes = ["10.10.0.0/24"]
    create_nsg       = true
  }
  private-endpoints = {
    address_prefixes = ["10.10.1.0/24"]
    create_nsg       = true
  }
  aks = {
    address_prefixes = ["10.10.2.0/24"]
    create_nsg       = true
  }
  appgw = {
    address_prefixes = ["10.10.3.0/24"]
    create_nsg       = true
  }
  apim = {
    address_prefixes = ["10.10.4.0/24"]
    create_nsg       = true
  }
}

role_assignments = {}
resource_group_locks = {}

enable_edge_stack = false
edge_mode         = "deferred"
waf_policy_mode   = "Prevention"
apim_tier         = "Consumption"

enable_aks_demo      = false
enable_jelastic_demo = false
application_name     = "landing-zone-demo-app"
container_image_name = "landing-zone-demo-app:latest"
container_registry_mode = "external"
container_registry_server = ""
image_pull_secret_name = "registry-pull-secret"
container_port       = 8080
kubernetes_namespace = "demo"
configuration_mode   = "configmap"
secret_mode          = "kubernetes-secret"
secret_names         = ["app-secrets"]

enable_observability_demo = false
prometheus_mode           = "self-managed"
grafana_mode              = "dashboard-only"

enable_demo_deployments = false
repository_name         = "azure-landing-zone"
default_branch          = "main"
terraform_root_path     = "terraform/root"
application_path        = "app"
image_tag_strategy      = "git-sha"
kubernetes_manifest_path = "app/k8s"
