subscription_id     = "YOUR-SUBSCRIPTION-ID"
location            = "francecentral"
resource_group_name = "rg-network-alz-dev"
project_name        = "alz"
environment         = "dev"

common_tags = {
  project     = "azure-landing-zone"
  environment = "dev"
  owner       = "cyrine"
  cost_center = "student-credit"
  managed_by  = "terraform"
  criticality = "low"
  workload    = "landing-zone"
}

vnet_address_space = ["10.10.0.0/16"]

subnets = {
  management = {
    address_prefixes = ["10.10.0.0/24"]
    create_nsg       = true
  }
  private-endpoints = {
    address_prefixes = ["10.10.1.0/24"]
    create_nsg       = true
  }
  aks = {
    address_prefixes = ["10.10.2.0/24"]
    create_nsg       = true
  }
  appgw = {
    address_prefixes = ["10.10.3.0/24"]
    create_nsg       = true
  }
  apim = {
    address_prefixes = ["10.10.4.0/24"]
    create_nsg       = true
  }
}
